@charset "UTF-8";
body {
margin: 0;
padding: 0;
min-width: 640px;
width: 1366px;
height: 768px;
}
.topmenu{
	text-align:center;
	background-color: gray;
	list-style-type: none;
	width: 100%;
	
	}
.topmenu>li{
	float:left;
	text-align: center;
	background-color: red;
	width: 9.9%;
	margin: 0;
	padding: 0;
	margin-left: 0.1%;
	cursor: pointer;
	display: inline-block;

}
.topmenu>li>ul{
	/* display: none; */
	background-color: blue;

}
.topmenu>li>ul>li{
	
	list-style-type:none;
	align-content: center;
}



