@charset "UTF-8";
@import url("common.css");



.topmenu{
	background-color:gray;
	text-align:center;
	list-style-type: none;
	width: 100%;
	height:10%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1;
	}
.topmenu>li{
	float:left;
	text-align: center;
	background-color: red;
	width: 9.9%;
	margin: 0;
	padding: 0;
	margin-left: 0.1%;
	cursor: pointer;
/*border-radius: 1.5em; /* 모서리 둥글게*/
}
.topmenu>li>ul{

	 display: none; 
	background-color: blue;
	margin: 0;
	padding: 0;
/*border-radius: 1.5em; /* 모서리 둥글게*/
}

.topmenu>li>ul>li{
		display:block;
	list-style-type:none;
	align-content: center;
	margin: 0;
	padding:0;
	background-color: gray;
	
}
.leftmenu{
	background-color:silver;
	float: left;
	position: absolute;
	height:768px;
	width:136px;
	margin:0;
	padding:0;
}
.leftmenu>li{
	margin-top: 10%;
	text-align:center;
	background-color: white;
}
#te{
	margin: 0;
	padding: 0;
	position: relative;
}
#main{
	width: 500px;
	height: 500px;
	margin 0;
	padding 0;
		position: relative;

	}

